.item-btn {
  color: black;
  padding: 5px 10px;
  /* border: 1px solid rgb(0, 0, 0, 0.2); */
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
}

.item-btn:hover {
  background-color: red;
  color: #fff;
}
